x-ignore_this: |
  Docker Compose 明确规定所有以 x- 开头的字段都会被解析器忽略。
  docker compose --file ~/Workspaces/docker-compose.yaml pull;
  docker compose --file ~/Workspaces/docker-compose.yaml up -d;
  docker compose --file ~/Workspaces/docker-compose.yaml logs -f
services:
  devcontainer:
    image: ghcr.io/yanhao98/h-devcontainer:main
    init: true
    build:
      context: .devcontainer
      dockerfile: Dockerfile.base
    container_name: h-devcontainer
    hostname: h-devcontainer
    user: usr_vscode
    environment:
      - NODE_OPTIONS=--max-old-space-size=4096
      - TZ=Asia/Shanghai
    volumes:
      - .:/workspaces:delegated
      # 挂载 vscode 扩展缓存卷 (外部卷)
      - vscode:/vscode
      # - ./docker-compose-entrypoint.sh:/docker-compose-entrypoint.sh:delegated
    ports:
      # VNC 端口
      - "127.0.0.1:5909:5901"
      # - "127.0.0.1:6080:6080"
    # command: /bin/bash /docker-compose-entrypoint.sh
    restart: unless-stopped

volumes:
  vscode:
    external: true
