name: Cleanup Untagged Images

on:
  # every sunday at 00:00
  schedule:
    - cron: "0 0 * * SUN"
  # or manually
  workflow_dispatch:

jobs:
  delete-untagged-images:
    name: Delete Untagged Images
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Get repository name
        id: repo_name
        run: echo "NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_OUTPUT

      - uses: bots-house/ghcr-delete-image-action@v1.1.0
        with:
          owner: ${{ github.repository_owner }}
          name: ${{ steps.repo_name.outputs.NAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          # Keep latest N untagged images
          untagged-keep-latest: 3
